<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="text-center">Create your free account</h2>
  </div>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }, html: { class: "space-y-6" }) do |f| %>
        <%= render "devise/registrations/error_messages", resource: resource %>
        <div>
          <%= f.label :email %>
          <div class="mt-2">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
          </div>
        </div>
        <div>
          <%= f.label :password %>
          <div class="mt-2">
            <%= f.password_field :password, autocomplete: "current-password", class:"block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
          </div>
        </div>
        <div>
          <%= f.label :password_confirmation %>
          <div class="mt-2">
            <%= f.password_field :password_confirmation, autocomplete: "current-password", class:"block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
          </div>
        </div>
        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
        </div>
      <% end %>
    </div>
    <p class="mt-10 text-center text-sm/6 text-gray-500">
      Not a member?
      <%= link_to "Create your free account", new_user_registration_path, class: "font-semibold text-indigo-600 hover:text-indigo-500" %>
    </p>
  </div>
</div>
