<% if render_as_submit? %>
  <button type="submit" data-turbo="<%= @turbo %>" class="<%= classes %>">
    <%= raw @icon_svg %>
    <% if @text.present? %><span><%= @text %></span><% end %>
  </button>
<% elsif render_as_form_button? %>
  <%= button_to @action, method: @method, data: turbo_data, class: classes do %>
    <%= raw @icon_svg %>
    <% if @text.present? %><span><%= @text %></span><% end %>
  <% end %>
<% else %>
  <%= link_to @action, data: turbo_data, class: classes do %>
    <%= raw @icon_svg %>
    <% if @text.present? %><span><%= @text %></span><% end %>
  <% end %>
<% end %>
