<div class="rounded-md <%= config[:container_classes] %> border p-4" data-controller="flash" data-flash-auto-dismiss-value="true">
  <div class="flex">
    <div class="shrink-0">
      <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 <%= config[:icon_color] %>">
        <path d="<%= config[:icon_path] %>" clip-rule="evenodd" fill-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <% if has_multiple_messages? %>
        <h3 class="text-sm font-medium <%= config[:text_color] %>"><%= display_title %></h3>
        <div class="mt-2 text-sm <%= config[:text_color].sub('800', '700') %>">
          <ul role="list" class="list-disc space-y-1 pl-5">
            <% @messages.each do |msg| %>
              <li class="<%= config[:text_color] %>"><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <p class="text-sm font-medium <%= config[:text_color] %>">
          <%= @message || @messages&.first %>
        </p>
      <% end %>
    </div>
    <div class="ml-auto pl-3">
      <div class="-mx-1.5 -my-1.5">
        <button type="button" 
                  data-action="click->flash#dismiss"
          class="inline-flex rounded-md p-1.5 <%= config[:button_classes] %> focus:outline-none focus:ring-2 focus:ring-offset-2">
          <span class="sr-only">Dismiss</span>
          <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5">
            <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
