<% if [:post, :put, :delete].include?(@method) %>
  <%= button_to @action, method: @method, data: turbo_data, class: "flex items-center gap-2 px-4 py-2 rounded-md border border-gray-300 bg-white #{bg_class} #{text_class} #{hover_class} transition" do %>
    <%= raw @icon_svg %>
    <% if @text.present? %><span><%= @text %></span><% end %>
  <% end %>
<% else %>
  <%= link_to @action, data: turbo_data, class: "flex items-center gap-2 px-4 py-2 rounded-md border border-gray-300 bg-white #{bg_class} #{text_class} #{hover_class} transition" do %>
    <%= raw @icon_svg %>
    <% if @text.present? %><span><%= @text %></span><% end %>
  <% end %>
<% end %>
