<% content_for :title do %>
  Browse meals
<% end %>
<div class="py-8">
  <div class="flex gap-4 mb-6">
    <%= form_with url: filter_meals_path, method: :post,  local: false, data: { turbo: true } do %>
      <%= label_tag :category, "Category" %>
      <%= select_tag :filter_value, options_for_select(@categories.map { |c| [c.name, c.name] }, params[:filter_type] == 'category' ? params[:filter_value] : nil), prompt: "Select category", id: "category_select", onchange: "Turbo.navigator.submitForm(this.form);" %>
      <%= hidden_field_tag :filter_type, "category" %>
    <% end %>
    <%= form_with url: filter_meals_path, method: :post, local: false, data: { turbo: true } do %>
      <%= label_tag :area, "Country" %>
      <%= select_tag :filter_value, options_for_select(@areas, params[:filter_type] == 'area' ? params[:filter_value] : nil), prompt: "Select country", id: "area_select", onchange: "Turbo.navigator.submitForm(this.form);" %>
      <%= hidden_field_tag :filter_type, "area" %>
    <% end %>
  </div>
  <%= turbo_frame_tag "meals_results" do %>
    <%= render partial: "meals/search_results", locals: { meal_thumbnails: @meal_thumbnails } %>
  <% end %>
</div>
