<nav class="border-b border-gray-200 bg-white sticky top-0 z-50">
  <div class="container-wide">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="flex shrink-0 items-center">
          <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company" class="block h-8 w-auto lg:hidden" />
          <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company" class="hidden h-8 w-auto lg:block" />
        </div>
        <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
          <%= render NavLinkComponent.new(path: meals_path, text: "Meals", variant: :main) %>
          <%= render NavLinkComponent.new(path: browse_meals_path, text: "Browse meals", variant: :main) %>
          <%= render NavLinkComponent.new(path: random_meals_path, text: "Random meal", variant: :main) %>
          <%= render NavLinkComponent.new(path: reviews_path, text: "My reviews", variant: :main) %>
        </div>
      </div>
      <div class="hidden sm:ml-6 sm:flex sm:items-center">
        <!-- Profile dropdown -->
        <div class="relative ml-3" data-controller="dropdown">
          <div>
            <button id="user-menu-button" type="button" aria-expanded="false" aria-haspopup="true" class="relative flex max-w-xs items-center rounded-full bg-white text-sm focus:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500 focus-visible:ring-offset-2" data-action="click->dropdown#toggle" data-dropdown-target="button">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-8 rounded-full" />
            </button>
          </div>
          <div role="menu" tabindex="-1" aria-labelledby="user-menu-button" aria-orientation="vertical" class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black/5 focus:outline-none hidden" data-dropdown-target="menu">
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, form: { data: { turbo: false } }, class: "block px-4 py-2 text-sm text-gray-700" %>
          </div>
        </div>
      </div>
      <div class="-mr-2 flex items-center sm:hidden" data-controller="mobile-menu">
        <!-- Mobile menu button -->
        <button type="button" aria-controls="mobile-menu" aria-expanded="false" class="relative inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" data-action="click->mobile-menu#toggle" data-mobile-menu-target="button">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="block size-6" data-mobile-menu-target="openIcon">
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="hidden size-6" data-mobile-menu-target="closeIcon">
            <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div id="mobile-menu" class="sm:hidden hidden" data-mobile-menu-target="menu">
    <div class="space-y-1 pb-3 pt-2">
      <%= render NavLinkComponent.new(path: meals_path, text: "Meals", variant: :mobile) %>
      <%= render NavLinkComponent.new(path: browse_meals_path, text: "Browse meals", variant: :mobile) %>
      <%= render NavLinkComponent.new(path: random_meals_path, text: "Random meal", variant: :mobile) %>
      <%= render NavLinkComponent.new(path: reviews_path, text: "My reviews", variant: :mobile) %>
    </div>
    <div class="border-t border-gray-200 pb-3 pt-4">
      <div class="flex items-center px-4">
        <div class="shrink-0">
          <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-10 rounded-full" />
        </div>
        <div class="ml-3">
          <div class="text-sm font-medium text-gray-500">tom@example.com</div>
        </div>
      </div>
      <div class="mt-3 space-y-1">
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, form: { data: { turbo: false } }, class: "block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800" %>
      </div>
    </div>
  </div>
</nav>
