<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for(:title) || "Meal Ideas Generator" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="min-h-full">
      <%= render "layouts/user/navbar" %>
      <!-- Flash Messages Container -->
      <div id="flash_messages" class="fixed top-16 left-0 right-0 z-40">
        <div class="container-wide py-4 space-y-4">
          <%= render_flash_messages unless flash.empty? %>
        </div>
      </div>
      <%# Main content %>
      <div class="py-8">
        <header class="container-wide pb-8">
          <h1>
            <%= content_for(:title) %>
          </h1>
        </header>
        <main class="flex flex-col gap-y-8 container-wide">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
